
[submodule "cookbooks/kvm-cockpit-vxlan-cookbook"]
	path = cookbooks/kvm-cockpit-vxlan-cookbook
	url = git@github.com:xdev-asia-labs/kvm-cockpit-vxlan-cookbook.git
[submodule "cookbooks/kubernetes-cookbook"]
	path = cookbooks/kubernetes-cookbook
	url = git@github.com:xdev-asia-labs/kubernetes-cookbook.git
[submodule "cookbooks/seaweedfs-cookbook"]
	path = cookbooks/seaweedfs-cookbook
	url = git@github.com:xdev-asia-labs/seaweedfs-cookbook.git
