{
  "identities": [
    {
      "name": "admin",
      "credentials": [
        {
          "accessKey": "{{ s3_admin_access_key }}",
          "secretKey": "{{ s3_admin_secret_key }}"
        }
      ],
      "actions": [
        "Admin",
        "Read",
        "List",
        "Tagging",
        "Write"
      ]
    }
  ]
}
